#Настройки для телеграм оповещений
TG_TOKEN=
TG_CHAT_ID=
TG_PROXY=http://213.163.115.194:8080
#Ставьте если тоько если у вас есть платный прокси НА КОМПЕ (желательная настройка) ((поумолчанию стоит:http://213.163.115.194:8080))
#Настройки базы данных
DB_USER=myuser
DB_PASS=mypassword
DB_HOST=db
DB_PORT=5432
DB_NAME=traildb
