#Настройки для телеграм оповещений
TG_TOKEN=
TG_CHAT_ID=
TG_PROXY=
#Ставьте если тоько если у вас есть платный прокси НА КОМПЕ (желательная настройка)
#Настройки базы данных
DB_USER=myuser
DB_PASS=mypassword
DB_HOST=db
DB_PORT=5432
DB_NAME=traildb
